img {
    margin-top: 60px;
    width: 400px;
    height: 450px;
    margin-bottom: 35px;
}
body {
    background-color: aqua;
}
.center{
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;
}

body {
    background-color: aqua;
}