#logo{
    width: 50px;
    height: 50px;
    display: block;
}
.login{
    width: 40px; 
    height: 40px;
}
.title-center{
    text-align: center;
}
.cuerpo{
    background-color: #CCC2BF;
    border: 2px solid black;
    border-radius: 5%;    
}
.contenedor{
    width: 400px;
    height: 400px;
}
.text-1{
    margin: 5%;
    width:350px;
    height: 350px;
    text-align:justify; 
}
.fotos-somos{
    margin-left: 15%;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    height: 300px;
}
.linea{
    margin: 0;
    margin-top: 10px;
    height: 5px;
    background-color: black;
}
.fotos-redes{
    margin: 25%;
    width: 75px;
    height: 60x;
}
a:hover{
    text-decoration: underline;
    font-size: large;
}
#centrar{
    text-align: center;
}
.carrusel {
   height: 500px;
}
.title-serv{
    text-align: center;
}
.servicios{
    text-align: center;
    margin: auto;
    margin-top: 15px;
    margin-left: 25px;
}
.servicios-title{
    margin: auto;
    margin-top: 7px;
    font-size: 17px;
    text-align: center;
}
.servicios-parah{
    margin: auto;
    margin-top: 10px;
    text-align: center;
}
.servicios-parah:hover{
    text-decoration: solid;
}
.juguetes{
    margin: auto;
    background-color:#3D71F3 ;
    color: #d2cece;
}
.juguetes-img{
    width: 750px;
}
.venta-art{
    margin: auto;
    text-align: center;
    margin:auto;
    margin-top: 15px;
    width: 75%;
    height: 75%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.venta-btn{
    text-align: center;
    margin:auto;
    margin-left: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.general{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ubicacion1{
    margin-left: 10px;
}
.ubicarnos{
    margin: auto;
    margin-top: 5px;
    width: 30px;
    height: 30px;
    position: absolute;
}
.ubicarnos-text{
    margin: auto;
    margin-left: 30px;
    margin-top:10px ;
    font-size: 20px;
}
.mapa{
    margin: auto;
    margin-top: 5px;
}
.title-page{
    text-align: center;
    background-color: #3D71F3;
}
.avout{
    background-color: #3D71F3;
}
.login::before{
    box-shadow: 6px 5px #CCC2BF;
}
footer{
    margin-left: 14px;
    font-size: 12 px;
    margin-bottom: 12px;
}
.vistass{
    font-size: 55px;
}
.vistasNew{
    margin:auto;
    margin-top: 15px;
    margin-left: 10px;
    width: 115px;
    height: 50px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #3D71F3;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
}